<div *ngIf="message" class="card">
    <div class="card-title">
            <h1>{{message.title}}</h1>
    </div>    
    <div class="card-body">
            {{message.description}}
    </div>   
    <div style="border-top: 1px dashed gray;">
        <div class="fondo float-right">
            {{message.createdDate | date}}
        </div>
        <div class="arrow">
            <a [routerLink]="['/']"><img style="float: inline-start;" src="../../assets/arrow-left.svg"></a>
        </div>
    </div>
</div>